<section class="vh-100" style="background-color: #4b515d">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card" style="color: #4b515d; border-radius: 35px">
          <div class="card-body p-4">
            <div class="d-flex">
              <h6 class="flex-grow-1">
                {{ weather?.location?.country }} - {{ weather?.location?.name }}
              </h6>
              <h6>{{ weather?.location?.localtime }}</h6>
            </div>

            <div class="d-flex flex-column text-center mt-5 mb-4">
              <h6
                class="display-4 mb-0 font-weight-bold"
                style="color: #1c2331"
              >
                {{ weather?.current?.temp_c }}°C
              </h6>
              <span class="small" style="color: #868b94">{{
                weather?.current?.condition?.text
              }}</span>
            </div>

            <div class="d-flex align-items-center">
              <div class="flex-grow-1" style="font-size: 1rem">
                <div>
                  <i class="fas fa-wind fa-fw" style="color: #868b94"></i>
                  <span class="ms-1">UV {{ weather?.current?.uv }} </span>
                </div>
                <div>
                  <i class="fas fa-tint fa-fw" style="color: #868b94"></i>
                  <span class="ms-1">
                    Cloud: {{ weather?.current?.cloud }}
                  </span>
                </div>
                <div>
                  <i class="fas fa-sun fa-fw" style="color: #868b94"></i>
                  <span class="ms-1">
                    Humidity: {{ weather?.current?.humidity }}
                  </span>
                </div>
              </div>
              <div>
                <img [src]="weather?.current?.condition?.icon" width="100px" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
